export KEYCLOAK_ADMIN=admin
export KEYCLOAK_ADMIN_PASSWORD=admin
export SM_CHAIN_ADDRESS=http://localhost:8555
export SM_CREDENTIALS_PK=0xYOUR_PRIVATE_KEY
export SM_ABAC_EVENTS_ADDRESS=0xABAC_EVENTS_CONTRACT_ADDRESS_IN_YOUR_NETWORK
export SM_ABAC_EVENTS_ABI_PATH=contracts/KeycloakABACEvents.abi
export SM_EVALUATION_POINT_ADDRESS=0xEVALUATION_POINT_CONTRACT_ADDRESS_IN_YOUR_NETWORK
export SM_EVALUATION_POINT_ABI_PATH=contracts/PolicyEvaluationPoint.abi
export SM_ACCESS_TOKEN_URL=http://localhost:8080/auth/realms/YOUR_REALM/protocol/openid-connect/token
export SM_ACCESS_TOKEN_CLIENT_ID=YOUR_CLIENT_ID
export SM_ACCESS_TOKEN_CLIENT_SECRET=YOUR_CLIENT_SECRET
export SM_EVALUATE_REQUEST_ENDPOINT=http://localhost:8000/api/v1/logs/